---
import { getCollection } from 'astro:content';
import Header from '../components/Header.astro';
import '../styles/global.css';

const allApps = await getCollection('apps');
const sortedApps = allApps.sort((a, b) => a.data.order - b.data.order);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={import.meta.env.BASE_URL + "favicon.svg"} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
		<title>Sagar Chakravarthy</title>
	</head>
	<body class="bg-white text-zinc-900 min-h-screen">
		<div class="max-w-[500px] mx-auto px-6">
			<Header />
			<section class="relative pt-2 pb-8 overflow-hidden">
				<!-- Heading -->
				<h1 class="font-plus font-semibold tracking-tight text-zinc-400 text-[8vw] md:text-[3vw]">A <span class="text-zinc-900">software engineer</span>, <span class="text-zinc-900">maker</span> and <span class="text-zinc-900">portrait artist</span>, based in Singapore.</h1>
			</section>

			<main class="mt-4 mb-20">
				<section class="w-full">
					<Header title="a maker" />

					<div class="grid grid-cols-1 gap-3">
					{sortedApps.map((app) => (
						<a
							href={app.data.url}
							target="_blank"
							rel="noopener noreferrer"
							class="group flex items-center gap-3 border border-zinc-200 transition-all duration-300 p-2.5 bg-zinc-50/50 hover:bg-zinc-100 rounded-2xl text-left"
						>
							<div class="flex-shrink-0 w-10 h-10 flex items-center justify-center bg-zinc-50 rounded-xl overflow-hidden">
								<img src={app.data.logo} alt={app.data.name} class="w-6 h-6 grayscale group-hover:grayscale-0 transition-all duration-500" />
							</div>
							<div class="flex-1 min-w-0">
								<h3 class="font-host font-bold text-base text-zinc-900 transition-colors duration-300 leading-tight">{app.data.name}</h3>
								<p class="font-host font-light text-sm text-zinc-500 leading-tight truncate">
									{app.data.description}
								</p>
							</div>
						</a>
					))}
					</div>
				</section>
			</main>
		</div>
	</body>
</html>
